:root {
	--bg-color: #c3cdcf;
	--main-color: #ec4a35;
	--shadow-color: #3eaae8;
	/* background-color: #c3cdcf; */
	/* background-image: linear-gradient(110deg, #f93d66, #6d47d9); */
	background-image: linear-gradient(110deg, var(--bg-color), var(--shadow-color));
}

.choice-container {
	display: flex;
	margin-bottom: 0.5rem;
	width: 100%;
	font-size: 1.8rem;
	border: 0.1rem solid var(--shadow-color);
	background-color: white;
}

.choice-container:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 var(--shadow-color);
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}

.choice-prefix {
	padding: 1.5rem 2.5rem;
	background-color: var(--main-color);
	color: white;
}

.choice-text {
	padding: 1.5rem;
	width: 100%;
}

.correct {
	background-color: #28a745;
}

.incorrect {
	background-color: #dc3545;
}

/* HUD */

#hud {
	display: flex;
	justify-content: space-between;
}

.hud-prefix {
	text-align: center;
	font-size: 2rem;
}

.hud-main-text {
	text-align: center;
}

#progressBar {
	width: 20rem;
	height: 4rem;
	border: 0.3rem solid var(--main-color);
	margin-top: 1.5rem;
}

#progressBarFull {
	height: 3.4rem;
	background-color: var(--main-color);
	width: 0%;
}

/* LOADER */
#loader {
	border: 1.6rem solid white;
	border-radius: 50%;
	border-top: 1.6rem solid var(--main-color);
	width: 12rem;
	height: 12rem;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* IMAGES AND SOUNDS */
#questionImage {
	margin-bottom: 2rem;
	justify-content: center;
	align-items: center;
	display: flex;
}

#questionImage.hidden {
	margin-bottom: 2rem;
	justify-content: center;
	align-items: center;
	display: none;
}

#questionSound {
	margin-bottom: 2rem;
	justify-content: center;
	align-items: center;
	display: flex;
}

#questionSound.hidden {
	margin-bottom: 2rem;
	justify-content: center;
	align-items: center;
	display: none;
}
